{% extends 'base.html.twig' %}

{% block title %}Hello DiplomaController!{% endblock %}

{% block body %}
<h1>Diplomas</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">diploma.id</th>
            <th scope="col">diploma.label</th>
        </tr>
    </thead>
    <tbody>
        {% for diploma in diplomas %}
        <tr>
            <td><a href="{{ path('app.diploma.show', {'id': diploma.id} ) }}">{{ diploma.id }}</a></td>
            <td>{{ diploma.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
