{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>{{ 'educational_coordinator.module.title.index'|trans }}</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Spécialité</th>
                            <th scope="col">ECTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td><a href="{{ path('app.educational_coordinator.module.show', {'id': module.id} ) }}">{{ module.label }}</a></td>
                                {% if module.speciality == 1 %}
                                    <td>Oui</td>
                                {% else %}
                                    <td>Non</td>
                                {% endif %}
                                <td>{{ module.ects ?? '-' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
