{% extends 'base.html.twig' %}

{% block title %}Hello DiplomaController!{% endblock %}

{% block body %}
<div class="container">
    <p>Le diplome du {{ diploma.label }} a été obtenu par : </p>
    <ul>
        {% if diploma.students is not empty %}
            {% for student in diploma.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}
