{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.diploma.title.show'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <p>{{ 'admin.diploma.misc.students'|trans }}:</p>
    <ul>
        {% if diploma.students is not empty %}
            {% for student in diploma.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}
