{% extends 'base.html.twig' %}

{% block title %}Hello GenderController!{% endblock %}

{% block body %}
<h1>Genders</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">gender.id</th>
            <th scope="col">gender.label</th>
        </tr>
    </thead>
    <tbody>
        {% for gender in genders %}
        <tr>
            <td><a href="{{ path('app.gender.show', {'id': gender.id} ) }}">{{ gender.id }}</a></td>
            <td>{{ gender.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
