{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<h1>{{ 'accounts.dashboard.title.index'|trans }}</h1>
<h4 class="text-muted">{{ 'accounts.dashboard.title.role'|trans }}</h4>

<ul>
    <li><a href="{{ path('app.accounts.student.index') }}">{{ 'accounts.dashboard.misc.student_list'|trans }}</a></li>
</ul>
{% endblock %}
