{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<h1>{{ 'academic_director.dashboard.title.home'|trans }}</h1>
<h4 class="text-muted">{{ 'academic_director.dashboard.title.role'|trans }}</h4>

<ul>
    <li>-</li>
</ul>
{% endblock %}
