{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>Entreprise</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Secteur</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td><a href="{{ path('app.admin.company.show', {'id': company.id} ) }}">{{ company.name }}</a></td>
                            <td>{{ company.address ?? '-' }}</td>
                            <td>{{ company.sector ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
