{% extends 'base.html.twig' %}

{% block title %}Hello LevelController!{% endblock %}

{% block body %}
<h1>Level</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">level.id</th>
            <th scope="col">level.label</th>
        </tr>
    </thead>
    <tbody>
        {% for level in levels %}
        <tr>
            <td>{{ level.id }}</td>
            <td>{{ level.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
