{% extends 'base.html.twig' %}

{% block title %}Hello AccountsStudentCommentController!{% endblock %}

{% block body %}
<div class="container">       
    <header class="animated bounceInDown">
        <h1><b>Commentaire de l'élève</b></h1><br />
    </header>                
    <div class="container">
        <p>Le commentaire de {{ accountsStudentComment.student.user.email }} a été crée de {{ accountsStudentComment.createdAt|date('d-m-Y') }} et mise à jour le {{ accountsStudentComment.updatedAt|date('d-m-Y') }}.</p>
        <p>Commentaires : </p>
        <ul>
            <li>{{ accountsStudentComment.comment }}</li>
        </ul>
    </div>
</div>
{% endblock %}
