{% extends 'base.html.twig' %}

{% block title %}Hello SpecialityController!{% endblock %}

{% block body %}
<h1>Specialities</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">speciality.id</th>
            <th scope="col">speciality.label</th>
        </tr>
    </thead>
    <tbody>
        {% for speciality in specialities %}
        <tr>
            <td><a href="{{ path('app.speciality.show', {'id': speciality.id} ) }}">{{ speciality.id }}</a></td>
            <td>{{ speciality.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
