<form method="post" action="{{ path('app.admin.etl.data_schema.delete', {'id': data_schema.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data_schema.id) }}">
    <button class="btn">{{ 'form.misc.delete'|trans }}</button>
</form>
