<div id="toastErrorDataSchema" class="toast bg-light shadow border border-danger" role="alert">
    <div class="toast-header">
        <strong class="me-auto">{{ 'toast.title.errors'|trans }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div id="toastErrorDataSchemaBody" class="toast-body"></div>
</div>
