{% extends 'base.html.twig' %}

{% block title %}Hello StaffController!{% endblock %}

{% block body %}
<h1>Staffs</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">staff.id</th>
            <th scope="col">staff.user.firstName</th>
            <th scope="col">staff.user.lastName</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in staffs %}
        <tr>
            <td><a href="{{ path('app.admin.staff.show', {'id': staff.id} ) }}">{{ staff.id }}</a></td>
            <td>{{ staff.user.firstName ?? '-' }}</td>
            <td>{{ staff.user.lastName ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
