{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}
<h1>Region</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">region.id</th>
            <th scope="col">region.name</th>
        </tr>
    </thead>
    <tbody>
        {% for region in regions %}
        <tr>
            <td>{{ region.id }}</td>
            <td>{{ region.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
