{% extends 'base.html.twig' %}

{% block title %}Hello GradeController!{% endblock %}

{% block body %}
<ul>
    <li><b>grade.id:</b> {{ grade.id }}</li>
    <li><b>grade.student.user.email:</b> {{ grade.student.user.email }}</li>
    <li><b>grade.module.label:</b> {{ grade.module.label }}</li>
    <li><b>grade.grade:</b> {{ grade.grade }}</li>
</ul>
{% endblock %}
